<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Bara Recipe</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />

</head>
<body>

<!--Start of NAVIGATION MENU-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" th:href="@{/}">WORLDLY RECIPES</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/}">Home </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{recipeindex}">Recipes<span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>
<!--End of NAVIGATION MENU-->

<h1>Bara</h1>

<img src="http://2.bp.blogspot.com/-UtP2F1bzw9E/UkJScdoVwpI/AAAAAAAAAYQ/JpGdw6FPPOU/s1600/DSC00822.JPG" alt="bara recipe picture"/>

<br/><br/>

<p><em>Serves 4</em></p>

<table>
    <tr>
        <th>Prep Time</th>
        <th>Cook Time</th>
        <th>Extra Time</th>
        <th>Total Time</th>
    </tr>
    <tr>
        <td>30 min</td>
        <td>15 min</td>
        <td>24 hr</td>
        <td>1 day, 45 min</td>
    </tr>
</table>

<br/>

<h2>Ingredients</h2>
<ul>
    <ul>
        <li>1 cup black lentils </li>
        <li>1 cup moong lentils</li>
        <li>2 eggs, beaten</li>
        <li>1⁄2 lb lean ground chicken (Lamb or pork can also be used. Minced vegetables are used for vegetarian cooking)</li>
        <li>1 tablespoon garlic, minced</li>
        <li>1 tablespoon ginger, minced</li>
        <li>3 green chilies, minced</li>
        <li>1⁄2 teaspoon turmeric</li>
        <li>1⁄4 teaspoon asafoetida powder</li>
        <li>salt and pepper</li>
        <li>2 tablespoons oil (for mixture)</li>
        <li>1⁄2 cup oil (for cooking)</li>
    </ul>
</ul>


<h2>Directions</h2>

<h3>Prep the Lentils</h3>
<ol>
    <li>In a large bowl, soak the lentils overnight. </li>
    <li>Next day, rinse the soaked lentils thoroughly. If no outer skin of the lentils is desired, you can rub the soaked lentils between your palms and the outer skin will wash off.</li>
    <li>Transfer the washed lentils to a large blender, add a small amount of water, and blend it into a thick paste.</li>
</ol>

<h3>Set the Dough</h3>
<ol>
    <li>Transfer the lentil mixture to a large mixing bowl. </li>
    <li>Add the oil, minced garlic, ginger and green chilies. </li>
    <li>Add turmeric, asafoetida, and salt and pepper.</li>
    <li>Add the beaten eggs and ground meat. </li>
    <li>Combine the lentil mixture thoroughly. At this point, it is better to store the lentil mixture in the refrigerator for a couple of hours to allow for the flavours to fuse.</li>
</ol>

<h3>Fry the Patties</h3>
<ol>
    <li>For cooking, heat 2 tablespoons of cooking oil in a non-stick, thick-bottomed pan or tawa under medium heat.</li>
    <li>Pour a half cup of the lentil mixture onto the pan and gently spread the mixture into the shape of a mini-pancake.  </li>
    <li>Repeat with other patties, ensuring to not overcrowd the pan so that you can turn over the patties more easily.</li>
    <li>Cook the patties on one side until the edges have crisped up and the patties themselves have attained a golden brown colour. </li>
    <li>Turn the patties over onto the other side and cook until the patties have cooked and are golden brown. </li>
    <li>Use paper towel to remove any excess oil if required.</li>
</ol>

<h3>Serve</h3>
<ol>
    <li>Transfer to a serving dish and serve hot with mango chutney or any other condiment.</li>
    <li>It is also common to add an egg topping or a minced meat topping or whatever toppings you desire.</li>
</ol>

<h3>Alternative Cooking Method</h3>
<p>For convenience, an alternative to cooking your baras in a pan is using a waffle machine. </p>
<ol>
    <li>For this, heat up your waffle machine and using oil spray coat the top and bottom surfaces.</li>
    <li>Pour a half cup of the lentil mixture on the bottom surface, gently spread out the mixture, and close the lid to cook.</li>
    <li>Cook until the lentil patty is cooked and has attained a golden brown colour, approximately 5-7 minutes.</li>
    <p>Baking is another healthy way to cook baras.</p>
</ol>


<hr/>
<h5>Brought to you by <a href="https://en.wikipedia.org/wiki/Nepal" target="_blank"><img src="http://surajjamkatel.com.np/wp-content/uploads/2016/10/flag-nepal.png" class="img-thumbnail" alt="Nepali Flag" /> </a></h5>


<!-- <img src="http://surajjamkatel.com.np/wp-content/uploads/2016/10/flag-nepal.png" alt="Nepal Flag" /> -->


</body>
</html>