<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Crab Cake Recipe</title>



    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />


</head>
<body>

<!--Start of NAVIGATION MENU-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" th:href="@{/}">WORLDLY RECIPES</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/}">Home </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{recipeindex}">Recipes<span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>
<!--End of NAVIGATION MENU-->

<h1>Crab Cakes</h1>

<img src="http://cdn-image.foodandwine.com/sites/default/files/styles/4_3_horizontal_-_1200x900/public/201201-xl-zimmern-crab-cakes.jpg?itok=dh7Nm6N4" alt="crab cake recipe picture"/><br/><br/>

<p><em>Serves 6</em></p>

<table>
    <tr>
        <th>Prep Time</th>
        <th>Cook Time</th>
        <th>Extra Time</th>
        <th>Total Time</th>
    </tr>
    <tr>
        <td>10 min</td>
        <td>15 min</td>
        <td>1 hr</td>
        <td>1 hr, 25 min</td>
    </tr>
</table>

<br/>

<h2>Ingredients</h2>
<ul>
    <li>1 lb. jumbo lump or backfin crab meat</li>
    <li>2 slices bread or bread crumbs</li>
    <li>1 tbsp. mayonnaise (light or regular)</li>
    <li>1 tbsp. Dijon mustard</li>
    <li>2 tsp. Old Bay seasoning</li>
    <li>1 tbsp. snipped parsley </li>
    <li>1 egg (or substitute for special diets)</li>
    <li>tartar sauce or cocktail sauce</li>
</ul>


<h2>Directions</h2>
<h3>Prep the Crab Cakes</h3>
<ol>
    <li>Beat the egg in a bowl. Trim the crusts from the bread and break the slices into small pieces. Add these pieces to the egg. Mix in the mayonnaise, Dijon mustard, Chesapeake seasoning and parsley, and beat well.</li>
    <li>Place the crabmeat in a bowl and pour the egg mixture over the top. Gently toss or fold the ingredients together, taking care not to break up the lumps of crabmeat.</li>
    <li>Form the cakes by hand into patties about 3 inches around and 3/4-inch thick. Shape should be like a cookie, not like a meatball or golf ball. Place the cakes in the refrigerator for at least 45 minutes before cooking. This is very important so the cakes don't fall apart.</li>
</ol>

<h3>Broil the Crab Cakes</h3>
<p>Slip them under a preheated broiler until nicely browned, turning to cook evenly, about 4 to 5 minutes on each side.</p>

<h3>Or Saute</h3>
<p>Heat a small amount of butter or olive oil in a skillet and saute the cakes, turning several times, until golden brown or about 8 minutes total cooking time.</p>
<p>Serve at once with tartar sauce, mustard, or cocktail sauce on the side.</p>

<!--<img src="http://msa.maryland.gov/msa/mdmanual/01glance/images/d013087a.gif" alt="Maryland Flag" /> -->
<hr/>
<h5>Brought to you by <a href="https://en.wikipedia.org/wiki/Maryland" target="_blank"><img src="http://msa.maryland.gov/msa/mdmanual/01glance/images/d013087a.gif" class="img-thumbnail" alt="Maryland Flag" /> </a></h5>


</body>
</html>