<!DOCTYPE html>
<html lang="en" xmlns:=www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Golab Jamun Recipe</title>

    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>

<h1>Golab Jamun </h1>
<br/>
<img src="http://cdn2.foodviva.com/static-content/food-images/diwali-recipes/gulab-jamun-milk-powder/gulab-jamun-milk-powder.jpg" alt="Golab Jamun recipe picture"/>

<h2>Ingredients</h2>
<ul>
    <li>1 cup dry milk powder  </li>
    <li>3 tablespoons all-purpose flour </li>
    <li>2 tablespoons ghee (clarified butter), melted </li>
    <li>1/2 teaspoon baking powder </li>
    <li>1/2 cup warm milk </li>
    <li>1 tablespoon chopped almonds (optional)</li>
    <li>1 tablespoon chopped pistachio nuts (optional)</li>
    <li>1 tablespoon golden raisins (optional)</li>
    <li>1 pinch ground cardamom</li>
    <li>1 quart vegetable oil for deep frying  </li>
    <li>1 1/4 cups white sugar </li>
    <li>7 fluid ounces water </li>
    <li>1 teaspoon rose water </li>
    <li>1 pinch ground cardamom </li>
</ul>


<h2>Directions</h2>
<h3>Prep the Dough</h3>
<ol>
    <li>In a large bowl, stir together the milk powder, flour, baking powder, and cardamom.</li>
    <li>Stir in the almonds, pistachios and golden raisins.</li>
    <li>Mix in the melted ghee, then pour in the milk, and continue to mix until well blended.</li>
    <li>Cover and let rest for 20 minutes.</li>
</ol>

<h3>Prepare the Syrup</h3>
<ol>
    <li>In a large skillet, stir together the sugar, water, rose water and a pinch of cardamom.</li>
    <li>Bring to a boil, and simmer for just a minute.</li>
    <li>Set aside.</li>
</ol>

<h3>Fry the Dough</h3>
<ol>
    <li>Fill a large heavy skillet halfway with oil.</li>
    <li>Heat over medium heat for at least 5 minutes.</li>
    <li>Knead the dough, and form into about 20 small balls.</li>
    <li>Reduce the heat of the oil to low, and fry the balls in one or two batches.</li>
    <li>After about 5 minutes, they will start to float, and expand to twice their original size, but the color will not change much.</li>
    <li>After the jamun float, increase the heat to medium, and turn them frequently until light golden.</li>
    <li>Remove from the oil to paper towels using a slotted spoon, and allow to cool.</li>
    <li>Drain on paper towels and allow to cool slightly.</li>
</ol>

<h3>Serve</h3>
<ol>
    <li>Place the balls into the skillet with the syrup.</li>
    <li>Simmer over medium heat for about 5 minutes, squeezing them gently to soak up the syrup.</li>
    <li>Serve immediately, or chill.</li>
</ol>
<br/>


<img src="http://www.culturalindia.net/iliimages/National-Flag-of-India-ili-59-img-2.jpg" alt="Indian Flag" />

</body>
</html>