<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Recipe Index</title>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>

<!--Start of NAVIGATION MENU-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="index.html">WORLDLY RECIPES</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="recipeIndex.html">Recipes</a>
            </li>
        </ul>
    </div>
</nav>
<!--End of NAVIGATION MENU-->


<div class="bg">
    <h1 class="h1index">WORLDLY RECIPES</h1>
    <h1 class="h1index">Taste the World</h1>



    <p class="lead">From simple breakfasts to delectable desserts, Worldly Recipes wants to help you taste the world right in your kitchen.</p>

    <p><em>Ready to become the five-star chef amongst your friends and family? </em></p>


</div>
<!--<h1>Recipe Index</h1>-->
<!--<br/>-->

<!--<h4><img src="http://msa.maryland.gov/msa/mdmanual/01glance/images/d013087a.gif" class="img-thumbnail" alt="Maryland Flag" />-->
<!--<a href="crabCakeRecipe.html" target="_blank">Crab Cake</a></h4>-->

<!--<h4><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/71/Flag_of_Ethiopia.svg/255px-Flag_of_Ethiopia.svg.png" class="img-thumbnail" alt="Ethiopian Flag" />-->
<!--<a href="injeraRecipe.html" target="_blank">Injera</a></h4>-->

<!--<h4><img src="http://www.culturalindia.net/iliimages/National-Flag-of-India-ili-59-img-2.jpg" class="img-thumbnail" alt="Indian Flag" />-->
<!--<a href="golabJamunRecipe.html" target="_blank">Golab Jamun</a></h4>-->

<!--<h4><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0a/Flag_of_Jamaica.svg/640px-Flag_of_Jamaica.svg.png" class="img-thumbnail" alt="Jamaican Flag" />-->
<!--<a href="jerkChickenRecipe.html" target="_blank">Jerk Chicken</a></h4>-->


<!--<h4><img  src="http://flags.fmcdn.net/data/flags/w580/fr.png" class="img-thumbnail" alt="France Flag" />-->
<!--<a href="croqueMadameRecipe.html" target="_blank">Croque Madame</a-->
<!--&gt;</h4>-->






</body>
</html>