<!DOCTYPE html>
<html lang="en" xmlns:=www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Recipe Index</title>

    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>

<h1>Recipe Index</h1>
<br/>

<h4><img src="http://msa.maryland.gov/msa/mdmanual/01glance/images/d013087a.gif" class="img-thumbnail" alt="Maryland Flag" />
    <a href="crabCakeRecipe.html" target="_blank">Crab Cake</a></h4>

<h4><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/71/Flag_of_Ethiopia.svg/255px-Flag_of_Ethiopia.svg.png" class="img-thumbnail" alt="Ethiopian Flag" />
    <a href="injeraRecipe.html" target="_blank">Injera</a></h4>

<h4><img src="http://www.culturalindia.net/iliimages/National-Flag-of-India-ili-59-img-2.jpg" class="img-thumbnail" alt="Indian Flag" />
    <a href="golabJamunRecipe.html" target="_blank">Golab Jamun</a></h4>

<h4><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0a/Flag_of_Jamaica.svg/640px-Flag_of_Jamaica.svg.png" class="img-thumbnail" alt="Jamaican Flag" />
    <a href="jerkChickenRecipe.html" target="_blank">Jerk Chicken</a></h4>


<h4><img  src="http://flags.fmcdn.net/data/flags/w580/fr.png" class="img-thumbnail" alt="France Flag" />
    <a href="croqueMadameRecipe.html" target="_blank">Croque Madame</a
    ></h4>

</body>
</html>