<!DOCTYPE html>
<html lang="en" xmlns:=www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Jerk Chicken Recipe</title>

    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>

<h1>Jerk Chicken</h1>

<img src="http://2.bp.blogspot.com/-YJkrYYmLb7I/UC2o17Pcn1I/AAAAAAAAIKc/5btxz5shsYE/s1600/Jerk+Chicken3.png" alt="jerk chicken recipe picture"/>

<h2>Ingredients</h2>
<ul>
    <ul>
        <li>1/2 small onion, finely chopped</li>
        <li>2 tablespoons soft dark brown sugar </li>
        <li>3 tablespoons soya sauce </li>
        <li>3 tablespoons red wine vinegar </li>
        <li>small handful chopped fresh thyme </li>
        <li>1 teaspoon sesame oil </li>
        <li>3 cloves garlic, chopped </li>
        <li>1/2 teaspoon ground allspice </li>
        <li>1 small red chili, sliced </li>
        <li>4 skinless, boneless chicken breast fillets - cut into strips</li>
    </ul>
</ul>


<h2>Directions</h2>
<em>Prep Time: 10min</em><br/>
<em>Cook Time: 15min</em><br/>
<em>Extra Time: 1hr</em><br/>
<em>Total Time: 1hr, 25min</em><br/><br/>
<h3>Prep the Sauce</h3>
<ol>
    <li>Combine the onion, brown sugar, soya sauce, vinegar, thyme, sesame oil, garlic, allspice and chili in the container of a food processor or blender.
        Process until smooth. </li>
    <li>Place the chicken into a large resealable bag, and pour in 3/4 of the mixture.
        Save the remaining mixture for serving. </li>
    <li>Squeeze out excess air, and seal.
        Marinate in the refrigerator for at least one hour.</li>
</ol>

<h3>Bake the Chicken</h3>
<ol>
    <li>Preheat your oven's broiler without the tray.</li>
    <li>Remove chicken from the bag, and discard marinade. </li>
    <li>Place chicken on tray and broil for 10 to 15 minutes, turning once to ensure even cooking.</li>
</ol>
<h3>Serve</h3>
<p>Heat reserved 1/4 marinade in a small pan to make a sauce and pour over chicken when serving.</p>


<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0a/Flag_of_Jamaica.svg/640px-Flag_of_Jamaica.svg.png" alt="Jamaican Flag" />


</body>
</html>