<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Pumpkin Rice Noodles Recipe</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />

</head>
<body>

<!--Start of NAVIGATION MENU-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" th:href="@{/}">WORLDLY RECIPES</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/}">Home </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{recipeindex}">Recipes<span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>
<!--End of NAVIGATION MENU-->

<h1>Pumpkin Rice</h1>

<img src="https://i.pinimg.com/736x/ac/db/22/acdb2214b9f4e8367e8612b42c807f4f--easy-asian-recipes-wok-recipes.jpg" alt="Pumpkin Rice Noodles recipe picture"/>

<br/><br/>

<p><em>Serves 1</em></p>

<table>
    <tr>
        <th>Prep Time</th>
        <th>Cook Time</th>
        <th>Extra Time</th>
        <th>Total Time</th>
    </tr>
    <tr>
        <td>15 min</td>
        <td>5 min</td>
        <td>20</td>
        <td>40 min</td>
    </tr>
</table>

<br/>

<h2>Ingredients</h2>
<ul>
    <ul>
        <li>100g (3.5 oz) dried rice vermicelli </li>
        <li>2 tablespoons oil</li>
        <li>2 cloves garlic, minced</li>
        <li>100g (3.5 oz) ground pork</li>
        <li>100g (3.5 oz) pumpkin (or kabocha), diced</li>
        <li>½ cup water</li>
        <li>2 tablespoons soy sauce</li>
        <li>1 tablespoon sweet soy sauce</li>
        <li>3 dashes white pepper</li>
    </ul>
</ul>


<h2>Directions</h2>

<h3>Prep the Rice</h3>
<ol>
    <li>Soak the dried rice vermicelli in warm water for about 20 minutes.  </li>
    <li>Drain the water and set aside.</li>
</ol>

<h3>Make the Sauce</h3>
<ol>
    <li>Heat up the oil in a wok and add the garlic. </li>
    <li>Stir-fry the garlic until aromatic before adding the ground pork and pumpkin.</li>
    <li>Add the water, soy sauce, sweet soy sauce, white pepper and bring to boil.</li>
</ol>

<h3>Stir Fry the Noodles</h3>
<ol>
    <li>Add the rice vermicelli into the wok, stir to combine well with the ingredients in the wok.</li>
    <li>Continue to stir fry until the vermicelli is cooked through and soaked up the sauce.</li>
</ol>

<h3>Serve</h3>
<ol>

    <li>Dish out and serve immediately.</li>
</ol>


<hr/>
<h5>Brought to you by <a href="https://en.wikipedia.org/wiki/Taiwan" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/72/Flag_of_the_Republic_of_China.svg/2000px-Flag_of_the_Republic_of_China.svg.png" class="img-thumbnail" alt="Nepali Flag" /> </a></h5>



</body>
</html>